header nav {
    background-color: #333;
    display: flex;
    justify-content: center;
}
.navbar {
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .nav-links li a:hover {
    color: #f1f1f1;
  }