*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: monospace;
    background: lightslategray;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


span {
	display: block;
	opacity: 0;
	animation: reveal .5s forwards var(--d);
}
@keyframes reveal {
	from {
		transform: translateY(20px);
	}
	to {
		opacity: 1;

    }

}