*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: black;
    color: white;
}
p{
    margin-top: 20%;

}
.title {
    font-size: 50px;
    line-height: 80%;
    cursor: pointer;
    font-family: monospace;
    margin-top: 10%;
    font-weight: normal;
    -webkit-box-reflect: below 0px linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.4))
    
}